.menu{
  background-color: black;
  width: 100%;
  min-height: 25px;
  color: #cccccc;
}

.label{

  float: right;
}

.languageSelect{
  float: right;
  margin-inline: 10px;
  border-color: #cccccc;
  color: #cccccc;
  border-width: 1px;
  border-radius: 3px;
  min-width: 100px;
}
